@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 700;
}

.container {
    padding: 2rem 4rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.image {
    max-width: 20%;
    height: auto;
}

p {
    font-size: 1rem;
}

.typing-animation {
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(60) 1;
}

/* Animations */
@keyframes typing {
    0% {
        width: 0;
    }

    70% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
